* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

html, body {
    height: 100%;
}

/************* TOP ************/
header {
    display: block;
    
}

#topNav {
    background-color: #2828a0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    width: auto;
}

#topNav > p {
    font-size: 1.5em;
    text-align: center;
}
#logoTop {
    margin-right: .5em;
}
/************* SIDEBAR ************/

#hamburgerBtn {
    cursor: pointer;
    margin-left: .5em;
}

#sidebar {
    width:200px;
    height: 100%;
    background-color: #2828a0;
    display: none;    /*  only be triggered when being clicked -jquery-  */
    position: absolute;
    top: 75;
    left: 0;
    z-index: 99;
    padding-top: 1em;
}

#sidebar > ul {
    margin: 0;
    padding-left: 1em;
    list-style: none;
}

#sidebar > ul > li {
    padding-bottom: .5em;
}

#sidebar > ul > li > a {
    text-decoration: none;
    color: white;
}

#sidebar > ul > li > a:active {
    background-color: aquamarine;
}

#sidebar > ul > li > a:hover {
    background-color: #0b0b45;
}

/************* BODY ************/
body {
    margin: auto;
    padding-bottom: 2em;
}

.container {
    background-color: white;
    background-image: url(../img/canoe.jpeg);
    background-position: center;
    background-size:cover;
    height: 300px;
    text-align: center;
    
}

.container > p {
    margin: auto;
    padding: 3em;
    color: white;
    font-size: xx-large;
    text-align: center;
}

h1 {
    text-align: center;
}
.content {
    padding-top: 1em;
}

article {
    padding-left: 2em;
    padding-right:2em;
}

footer {
    padding: .5em 0 .5em 0;
}


/************* MEDIA QUERIES ************/
@media only screen and (min-width: 1000px) {
    
    main: {
        padding-left: 3em;
        padding-right:3em;
    }
}


@media only screen and (max-width: 412px) {
    #topNav {
        display: flexbox;
    }
    #topNav > p {
        font-size: 100%;
        
    }
    #sidebar {
        width:100%;
        
    }
    .container {
        background-color: white;
        background-image: url(../img/canoe.jpeg);
        background-position: center;
        
        height: 300px;
        text-align: center;
        
    }
    .container > p {
        margin: auto;
        padding: 3em;
        color: white;
        font-size: x-large;
        
    }
    article {
        padding-top: 1em;
        padding-left: 2em;
        padding-right:2em;
    }
}